<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=for, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    </link>
</head>
<body>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=for, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Genero</h1>
    <form method="post">
    <div>
        <input type="hidden" value="<%=Genero.id%>" name="id"><br>
        <label for="nome">Nome</label>
        <input type="text" value="<%=Genero.nome%>" name="nome" id="nome"><br>
    </div>
        <button type="submit">Confirmar</button>
        <a href="/admin/genero/lst" class="btn cancelar">Voltar</a>
    </form>
<br>
       
</body>
</html>