<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=for, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    </link>
</head>

<body>
    <h1>Cadastrar empresa</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
        </div>
        <div>
            <label for="nome">Pais:</label>
            <input type="text" id="pais" name="pais" required>
        </div>
        <div>  
            <label for="nome">Logo:</label>
            <input type="file" id="logo" name="logo" required>
        </div>
        </div>
        <button type="submit" class="btn">Confirmar</button>
        <a href="/admin/empresa/lst" class="btn cancelar">Voltar</a>
    </form>
</body>

</html>